.search-input{
  display: block;
  margin: 30px auto 0 auto;
  height: 30px;
  width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.filtered-wrapper {
  background-color: #5c62ec;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  column-gap: 30px;
  row-gap: 15px;
}
.search-wrapper {
display: flex;
  align-items: center;
  justify-content: center;
  .search-input-div {
    position: relative;
}
  .clearButton {
    position: absolute;
    transform: translateX(215px) translateY(14.5px);
    transition: transform 0.2s ease-in-out;
  }
  .clearButton:hover {
    transform:  translateX(216px) translateY(14.5px) scale(1.1)
  }
}


