.header-container {
  display: flex;
  height: 150px;
  background-color: #181717;
  border-bottom: 1px solid #26292D;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

Button {
  transition: transform 0.2s ease-in-out !important;
}

Button:hover {
  cursor: pointer;
  transform: translateY(3px);
}

.introductoryPage-container {
  background-color: #181717;
  height: calc(100vh - 151px);
  align-content: center;
  justify-items: center;
  color: white;
}
.introductoryPage-container span {
  font-size: 50px;
}
.introductoryPage-container strong {
  font-size: 50px;
}
.introductoryPage-container p {
  font-size: 50px;
}
.introductoryPage-container .span-text {
  font-size: 18px;
}
.introductoryPage-container h1 {
  text-align: center;
}
.introductoryPage-container .span-name {
  color: #5c62ec;
}
.introductoryPage-container em > span {
  color: #5c62ec;
}

/*reset CSS styles*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  height: 100vh;
}

.card-container {
  display: flex;
  margin-top: 40px;
  height: 200px;
  width: 200px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 1px 1px 10px black;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.card-container .profile-pic {
  width: 150px;
  height: 150px;
}
.card-container .icons-wrapper {
  margin: 10px 20px;
  display: flex;
  flex-direction: row;
  column-gap: 150px;
}
.card-container .iconButton:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.card-container .iconButton {
  transition: all 0.3s ease-in-out;
}

.card-container:hover {
  transform: translateY(-3px);
  box-shadow: 1px 1px 10px #1976d2;
}

.pagination-wrapper__ul {
  display: flex;
  column-gap: 10px;
}

.pagination-button {
  margin: 0 15px;
}

.products-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.empty-pinned-filter {
  display: flex;
  margin-top: 320px;
  justify-self: center;
  align-items: center;
  column-gap: 20px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: #26292D 1px 1px 1px;
  flex-direction: column;
  padding: 20px;
  row-gap: 20px;
}

.pinnedCard-wrapper {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  row-gap: 15px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 50px;
}

.back-button {
  margin: 20px auto !important;
}

.form-wrapper {
  margin: 150px auto;
  display: grid;
  place-items: center;
  border-radius: 20px;
  height: 500px;
  width: 850px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.error-div {
  color: red;
}

.search-input {
  display: block;
  margin: 30px auto 0 auto;
  height: 30px;
  width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.filtered-wrapper {
  background-color: #5c62ec;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  column-gap: 30px;
  row-gap: 15px;
}

.search-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-wrapper .search-input-div {
  position: relative;
}
.search-wrapper .clearButton {
  position: absolute;
  transform: translateX(215px) translateY(14.5px);
  transition: transform 0.2s ease-in-out;
}
.search-wrapper .clearButton:hover {
  transform: translateX(216px) translateY(14.5px) scale(1.1);
}

.cardInfo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  flex-wrap: wrap;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
  height: 505px;
  row-gap: 30px;
  padding: 15px;
  margin: 140px auto;
}
.cardInfo-wrapper .span-info {
  font-size: 18px;
  font-weight: bold;
}

.pag-wrapper {
  display: flex;
  flex-direction: row;
  margin: 40px auto;
  justify-self: center;
}

/*# sourceMappingURL=index.css.map */
