.cardInfo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  flex-wrap: wrap;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
 margin: 250px auto;
  row-gap: 30px;
  padding: 15px;

  .span-info {
    font-size: 18px;
    font-weight: bold;
  }
}