.card-container {
  margin-top: 40px;
  height: 200px;
  width: 200px;
  background-color: white;
  border-radius: 15px;
  align-content: center;
  justify-items: center;
  box-shadow: 1px 1px 10px black; ;



  .profile-pic {

    width: 150px;
    height: 150px;
  }
}