.header-container {
  display: flex;
  height: 150px;
  background-color: #181717;
  border-bottom: 1px solid #26292D;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




Button {
  transition: transform 0.2s ease-in-out !important;
}
Button:hover {
  cursor: pointer;
  transform: translateY(3px);
}