.form-wrapper {
  margin: 150px auto;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  height: 500px;
  width: 850px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.error-div {
  color: red;
}